@import 'footer.css';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: var(--text-color1);
}
:root{
    --bg-color:#404040;
    --text-color1: white;
}
header{
    background-color: var(--bg-color);
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: relative;
    align-items: center;
}
.icons{
    display: flex;
    max-height: 40px;
    max-width: 40px;
}
#iconBars, #iconX{
    width: 100%;
    cursor: pointer;
}
#iconX{
    display: none;
}
ul{
    position: absolute;
    width: 100vh;
    right: -900px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: #404040;
    transition: 1s;
    list-style: none;
    height: 100vh;
}
ul a{
    text-decoration: none;
    text-align: center;
    font-size: 1.2em;
}
ul a:hover{
    background-color: white;
}
ul a:hover li{
    color: black;
}

@media (max-width:600px) {
    ul{
        width: 100%;
    }
}